<header class="pc-header">
  <div class="header-wrapper" [class.client-header]="!showNavLeft()">
    @if (showNavLeft()) {
      <div class="pc-mob-drp">
        <app-nav-left [navCollapsed]="navCollapsed" (NavCollapse)="navCollapse()" (NavCollapsedMob)="navCollapseMob()" />
      </div>
    } @else {
      <div class="client-brand">
        <a routerLink="/client/home" class="client-logo-link" aria-label="Accueil client">
          <span class="client-brand-title">MEAN Mall</span>
        </a>
      </div>
    }
    <div>
      <app-nav-right />
    </div>
  </div>
</header>
