@import '../../../../../scss/settings/color-variables.scss';

.auth-main {
  position: relative;

  .auth-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;

    .saprator {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--bs-border-color);
        z-index: 1;
      }

      span {
        font-size: 0.875rem;
        padding: 8px 24px;
        background: $white;
        z-index: 5;
        text-transform: capitalize;
        color: $gray-800;
        font-weight: 500;
      }
    }

    &.v3 {
      display: flex;
      align-items: center;

      .auth-form {
        flex-direction: column;
        background: url('../../../../../assets/images/authentication/img-auth-bg.svg');
        min-height: 100vh;
        padding: 24px;
        background-repeat: no-repeat;
        background-size: auto 82%;
        background-position: left bottom;
        position: relative;
        justify-content: space-between;
        > * {
          position: relative;
          z-index: 5;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($white, 0.2);
          backdrop-filter: blur(16px);
        }
      }
    }
    .auth-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      .card {
        width: 100%;
        max-width: 495px;
        box-shadow: none;
      }

      img + span {
        padding-left: 15px;
      }

      h5 {
        span {
          text-decoration: underline;
        }
      }
    }
    .auth-footer,
    .auth-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.custom-alert {
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;

  i {
    font-size: 1.1rem;
  }
}

.alert-success {
  background: rgba(25, 135, 84, 0.1);
  color: #198754;
  border: 1px solid rgba(25, 135, 84, 0.2);
}

.alert-error {
  background: rgba(220, 53, 69, 0.1);
  color: #dc3545;
  border: 1px solid rgba(220, 53, 69, 0.2);
}

.alert-warning {
  background: rgba(255, 193, 7, 0.1);
  color: #ffc107;
  border: 1px solid rgba(255, 193, 7, 0.2);
}

form i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px -12px 0px 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  position: absolute;
  top: 203px;
  right: 45px;
}
