<div class="client-layout">
  <app-nav-bar [showNavLeft]="false"></app-nav-bar>
  <div class="pc-container">
    <div class="coded-wrapper">
      <div class="coded-content">
        <div class="coded-inner-content">
          <app-breadcrumb />
          <div class="main-body">
            <div class="page-wrapper">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="pc-footer client-mall-footer">
    <div class="footer-wrapper container-fluid">
      <div class="mall-footer-top">
        <div class="row g-4">
          <div class="col-12 col-lg-5">
            <div class="info-card info-card-brand">
              <span class="footer-badge">Centre Commercial</span>
              <h5>MEAN Mall</h5>
              <p class="mb-3">
                Votre destination shopping, restauration et loisirs au coeur de la ville.
              </p>
              <ul class="mall-contact list-unstyled mb-0">
                <li>
                  <i class="ti ti-map-pin"></i>
                  <span>Lot II M 85, Antananarivo</span>
                </li>
                <li>
                  <i class="ti ti-phone"></i>
                  <a href="tel:+261340000000">+261 34 00 000 00</a>
                </li>
                <li>
                  <i class="ti ti-mail"></i>
                  <a href="mailto:contact@meanmall.mg">contact@meanmall.mg</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="info-card">
              <h5>Horaires d'ouverture</h5>
              <ul class="mall-hours list-unstyled mb-0">
                <li><span>Lundi - Vendredi</span><strong>09:00 - 20:00</strong></li>
                <li><span>Samedi</span><strong>09:00 - 21:00</strong></li>
                <li><span>Dimanche</span><strong>10:00 - 18:00</strong></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="info-card">
              <h5>Navigation rapide</h5>
              <ul class="mall-links list-unstyled mb-3">
                <li><a routerLink="/client">Accueil client</a></li>
                <li><a routerLink="/client/shops">Boutiques</a></li>
                <li><a routerLink="/client/events">Evenements</a></li>
                <li><a routerLink="/profil">Mon profil</a></li>
              </ul>
              <p class="mb-2">Restez informe des promotions et nouveautes.</p>
              <form class="newsletter-form">
                <input type="email" placeholder="Votre adresse email" aria-label="Votre adresse email" />
                <button type="button">S'inscrire</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="mall-map-wrapper mt-4">
        <iframe
          title="Carte d'acces MEAN Mall"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps?q=Antananarivo&output=embed"
        ></iframe>
      </div>

      <div class="mall-footer-bottom">
        <p class="m-0">
          Copyright &copy; {{ currentYear }} Rakotondratsimba Mirado Ny Aina Kevin C. - Randriaherimanana Manoa Finaritra
        </p>
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a routerLink="/client/shops">Boutiques</a></li>
          <li class="list-inline-item"><a routerLink="/client/events">Evenements</a></li>
          <li class="list-inline-item"><a routerLink="/profil">Compte</a></li>
          <li class="list-inline-item"><a href="mailto:contact@meanmall.mg">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

